limot_s/data/*
!limot_s/data/.gitkeep
limot_c/cache/*
!limot_c/cache/.gitkeep
limot_c/logs/*
!limot_c/logs/.gitkeep
node_modules/
limot_s/config/config.yaml
limot_c/config.yaml
limot_s/config/clients/*.yaml